<footer class="text-center text-white">
  <div class="container">
    <div class="row gy-3 py-5">

      <div class="col-md-4">
        <div>
          <h4 class="fs-3">LOCATION</h4>
          <p>2215 John Daniel Drive</p>
          <p>Clark, MO 65243</p>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <h4 class="fs-3">AROUND THE WEB</h4>
          <ul class="d-flex justify-content-center align-items-center gap-3">
            <li class="d-flex justify-content-center align-items-center border border-1 border-white rounded-circle"><a class="text-white" href="#facebook"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="d-flex justify-content-center align-items-center border border-1 border-white rounded-circle"><a class="text-white" href="#twiiter"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="d-flex justify-content-center align-items-center border border-1 border-white rounded-circle"><a class="text-white" href="#linkedin"><i class="fa-brands fa-linkedin-in"></i></a></li>
            <li class="d-flex justify-content-center align-items-center border border-1 border-white rounded-circle"><a class="text-white" href="#globe"><i class="fa-solid fa-globe"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="col-md-4">
        <div>
          <h4 class="fs-3">ABOUT FREELANCER</h4>
          <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
      </div>
    </div>
  </div>

  <div class="footBg p-4">
    <p class="m-0">Copyright © Your Website 2021</p>
  </div>

</footer>
