<section class="text-center animate__animated animate__fadeIn">
  <div class="container vh-100">
    <div class="d-flex justify-content-end align-items-center flex-column text-white">
      <div class="image-home mt-5 pt-5">
        <img class="w-100" src="./assets/image/avataaars.svg" alt="homeImg">
      </div>
      <h3 class="my-3 fs-1 fw-bold">START FRAMEWORK</h3>
      <div class="star mb-2 position-relative">
        <i class="fa-solid fa-star fs-3 mx-2"></i>
      </div>
      <p class="fw-bold">Graphic Artist - Web Designer - Illustrator</p>
    </div>
  </div>
</section>
